!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %meta(name="description" content="May 27th 2021, a 24 hour video tech meetup, across 20 amazing communities!")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="HandheldFriendly" content="True")
    %meta(name="MobileOptimized" content="320")
    %title
      = current_page.data.title || "CO-VIDEO 2021"

  
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap", :rel => "stylesheet"}/

    = favicon_tag("/favicon.ico", rel: "shortcut icon")

    = stylesheet_link_tag(:site)

  %body(class="#{page_classes()}")
    %div.wrapper
      = partial(:header)

      %div.main-content
        = yield

      = partial(:footer)

    = javascript_include_tag(:mobilemenu)

    - unless current_page.data.include_javascripts.nil?
      - current_page.data.include_javascripts.each do |js|
        = javascript_include_tag(js)
